Library/**
Build/**
Assets/MedievalTownExteriors/**
Assets/UnityVS/**
Assets/Standard Assets/**
Temp/
Assets/Footman/**
Assets/EpicMusic/**
Assets/FantasyMonster/**
Assets/Textures/Sprites/LiquidToonFree/**
Assets/Audio/**
Assets/Fonts/**
Assets/MenuAssets/**
Assets/NecromancerGUI/**

Assets/MedievalTownExteriors.meta
Assets/Footman.meta
Assets/EpicMusic.meta
Assets/FantasyMonster.meta
Assets/Textures/Sprites/LiquidToonFree.meta
Assets/Audio.meta
Assets/Fonts.meta
Assets/MenuAssets.meta
Assets/NecromancerGUI.meta

*.csproj
*.sln
.vs/**
